.style {
  background: lavender;
}

.one {
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
}

.second {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.87);
}

.im {
  margin: 33px 0;
}
