.text-new{
    margin-right: 50%;
    padding-left: 6%;
}

.text1{
font-size: 50px;
line-height: 75px;
}

.text2{
    font-size: 20px;
    line-height: 30px;
}

.text5{
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
}

.text6{
    font-size: 20px;
    line-height: 30px;}

.text7{
    font-size: 50px;
line-height: 75px;}

.important{
    list-style-type: disc;
    color: rgba(0, 0, 0, 0.54);}

#button2{
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;}

.image1{
    float: right; 
    padding-top: 100px;
}

@media screen and (max-width:750px){
    .image1{
        max-width: 250px;
        max-height: 250px;
        margin-top: 50%;
    }
}

@media screen and (max-width:535px){
    .image1{
       position: relative;
    }
}