.requirements{
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
}

.text1{
font-size: 50px;
line-height: 75px;
}

.text2{
    font-size: 20px;
    line-height: 30px;
}

.text5{
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
}

.text6{
    font-size: 20px;
    line-height: 30px;}

.text7{
    font-size: 50px;
line-height: 75px;}

.important{
    list-style-type: disc;
    color: rgba(0, 0, 0, 0.54);}

#button2{
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;}

@media (max-width: 800px) {
    .requirements{
        flex-direction: column;
    }
}

.image1{
    max-width: 425px;
    max-height: 286px;
    align-self: flex-end ;
    justify-self: flex-end;
}

