
.first{
    background-color: #C3BEF7;
    padding: 50px 0;
    text-align: center;
    height: 500px;
}

.happy{
    font-size: 40px;
    font-weight: 700;
    color: #8A4FFF;
    margin-bottom: 20px;
}
