.style{
    width: 100%;
    height: 900px;
    left: 0px;
    background: lavender;
}
.one{
    width: 982px;
    height: 149px;
    left: 164px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: #000000;
    margin-left:45px;
}

.second{
    width: 1099px;
    height: 212px;
    left: 164px;
    margin-top:30px;
    margin-left:45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.87);
}
.im{
    margin-top:45px;
    margin-left:45px;
    width: 664px;
    height: 124px;
    left: 164px;
    top: 1113px;
}
