.text{
    margin-top: 10%;
}
.text1{
font-weight: 400;
font-size: 50px;
}

.text2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
}

#button1{
    margin-top: 300px;
    margin-bottom: 100px;
    margin-left: 60px;
}

.text{
   margin-top: 5%;
   margin-bottom: 7%;
}